/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Raleway', helvetica, arial, sans-serif;
}
html, body{
    background-color: #07767f;
}
h1{
    font-size: 2.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Vollkorn', 'Palatino Linotype', 'Book Antiqua', Palatino, serif; 
    padding: 1rem 2rem;
    color:#07767f;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Vollkorn', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    padding: 1rem 2rem;
    background-color: #2e79f7;
    color: #07767f;
}
nav li{
    font-size: 2.618rem;
    background-color: #2e79f7;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
    background-color: #2e79f7;
    color: #07767f;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #2e79f7;
}
header{
    border-bottom: 0.8rem solid black;
    background-color: #0febff;
}
.menu-h{
    width: 100%;
}
    .menu-h li{
        text-decoration: none;
        display: inline-block;
        width: 20%;
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            color: #5bf1ff;
            padding: 10px;
            text-decoration: none;
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
        }
        .menu-h a:hover,
        .menu-h a:active{
            background-color: black;
        }
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
        text-decoration: none;
        display: inline-block;
        width: 100%;
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            color: #5bf1ff;
            padding: 10px;
            text-decoration: none;
            /* style the anchors to fill the entire width of the li */
        }
        .menu-v a:hover,
        .menu-v a:active{
           color: black;
            text-decoration: underline;
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}